h1{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 30px;
    margin-left: 600px;
    margin-right: 200px;
    margin-bottom: 20px;
}
span{
    font-family: 'Ubuntu', sans-serif;
    margin-left:  480px;
}
div{
    font-family: 'Ubuntu', sans-serif;
    margin-left:  80px;
}
